EMAIL_ADDRESS= prathameshkamble2385@gmail.com
EMAIL_APP_PASSWORD= hhiygljpcbjwgyvy
RECIPIENT_EMAIL= ratnakamble1983@gmail.com

DATABASE_URL=sqlite:///data/reminder_system.sqlite3
SECRET_KEY=change-this-to-a-long-random-value

# values for first account if database is deleted
DASHBOARD_ADMIN_USERNAME=owner
DASHBOARD_ADMIN_PASSWORD=ChangeMe@123